@font-face {
    src: url("../fonts/font.ttf");
    font-family: "Font";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 150px;

    font-size: 25vh;
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, .2);
}

.bg.ps {
    top: 0;
    font-size: 10px;
}

#oblegaet {
    background: url('../photos/forbidden.jpeg') no-repeat;
    background-size: cover;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: absolute;
    object-fit: fill;

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

.unauthed {
    background: url('../photos/unauth.png') no-repeat;
    background-size: cover;
}

.main.error {
    background-color: #8d0000;
}

.text {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 40px;
}

.text_animated {
    animation-name: zooming;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    padding: 10px;
    background-color: #fff;

    font-family: "Font", 'sans-serif';
    color: red;
    box-shadow: 0 0 20px 25px rgba(0,0,0,0.15);
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;

    width: fit-content;
}

.row {
    font-family: sans-serif;

}

.row > label {
    text-align: right;

    font-size: 20px;
}

.row > input {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #999999;
    border-radius: 8px;
}

.button {
    background-color: #fff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 20px;
    border-radius: 8px;

    font-size: 20px;
}

.button_blue {
    background-color: #1b84ff;
    color: white;
}

.button_medium {
    width: 200px;
}

@keyframes zooming {
    0% {
        font-size: 0;
        padding: 0;
    }

    12% {
        font-size: 70px;
        padding: 10px;
        transform: rotateX(130deg);
    }

    25% {
        font-size: 40px;
        padding: 10px;
        transform: rotateY(210deg);
    }

    38% {
        font-size: 50px;
        padding: 10px;
        transform: rotateZ(70deg);
    }

    50% {
        font-size: 10px;
        padding: 0;
        transform: rotateY(200deg);
    }

    62% {
        font-size: 35px;
        padding: 10px;
        transform: rotate3d(50, 50, 50, 180deg);
    }

    75% {
        font-size: 50px;
        padding: 10px;
        transform: rotateX(100deg);
    }

    88% {
        font-size: 100px;
        padding: 10px;
        transform: rotateY(18deg);
    }

    100% {
        font-size: 0;
        padding: 0;
        transform: rotateX(180deg);
    }
}
